.navbar-links {
    display: flex;
    font-family: 'new zelek', sans-serif; 
    gap: 50px;
}

.navbar-links a {
    padding: 5px 8px; 
    text-decoration: none;
    color: #333;
}

.navbar-links a:hover {
    background-color: #ddd;
}